<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="utf-8" />
  <!--link rel="stylesheet" href="/cdn/styles/main.css"-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <style type="text/css">
    body {
      background: navy !important;
    }

    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  </style>
</head>

<body class="p-3 mb-2 bg-white text-secondary" ng-app="homeApp">


  <h1>Tooling Mainpage</h1>

  <div class="btn-group btn-group-justified" ng-controller="homeController">
    <a href="betaversion" class="btn btn-dark">Beta Version</a>
    <a href="comments" class="btn btn-dark">Comments</a>
    <a href="feedback" class="btn btn-dark">Feedback</a>
  </div>
  <br>
  <br>

  <script src="/cdn/scripts/home.js"></script>
</body>

</html>